@CHARSET "ISO-8859-1";

#app-nav-panel {
	height: 800px !important;
	width: 200px !important;
}

#add-btn, #del-btn {
	border: 10px !important;
	border-radius: 10px !important;
}

#nav-menu {
    background: url(menu-icon.png);
    cursor: pointer;
    height: 30px;
    width: 30px;
    z-index: 30;
    margin-right: 2px;
    border-right: 2px;
    border-color: grey;
}

.menu {
  list-style: none;
  line-height: 42px;
  margin: auto;
  padding-left: 0;
  width: 15em;
}

.menu a {
  background: url(icons.png) no-repeat left top;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding-left: 3em;
  width: 100%;
}

.menu a:hover {
  background-color: #B4EAF0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.menu li {
  box-shadow: 3px 0 rgba(169, 195, 201,.2) inset;
  margin-bottom: 5px;
  padding-left: .5em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.sidebar {
  background: rgba(169, 195, 201,1);
  padding-right: .25em;
  position:absolute;
  left: 0;
  top: 50px;
  padding-top: 5em;
  box-sizing: border-box;
  z-index: 20;
  height: 60%;
  /*
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; 
  */
  display:none;
}

#po-vendor-info {
	width: 300px !important;
	float: left;
	margin: 3px;
}

#po-warehouse-info {
	width: 300px !important;
	float: left;
	margin: 3px;
}

#od-dlg-vendor-info {
	width: 300px !important;
	float: left;
	margin: 3px;
}

#od-dlg-warehouse-info {
	width: 300px !important;
	float: left;
	margin: 3px;
}

.status {
	font-weight: bold;
}
.status-open{
	background-color: red;
	color: black;
}

.status-closed > .jsgrid-row {
	background-color: red;
	color: black;
}

.status-canceled>.jsgrid-row {
	background-color: grey;
	color: white;
}